<?xml version="1.0"?>
<robot>

  <material name="Schunk/LightGrey">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>

  <material name="Schunk/DarkGrey">
    <color rgba="0.4 0.4 0.4 1.0"/>
  </material>

  <material name="Schunk/Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="Schunk/DarkGolden">
    <color rgba="0.4 0.4 0.3 1.0"/>
  </material>

  <material name="Schunk/Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <material name="Neobotix/Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="Neobotix/Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <material name="Neobotix/Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="Neobotix/Grey">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>

  <material name="Neobotix/Grey2">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>

  <material name="Neobotix/Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

  <material name="Neobotix/White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
    
  <material name="Neobotix/Yellow">
    <color rgba="1.0 1.0 0 10" />
  </material>

</robot>
